@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;600&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
body{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    /* min-height: 100vh; */
    width: 30vw;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px burlywood;
    
}

.heading{
    padding: 5% 0px;
    font-family: 'Mukta', sans-serif;
    font-weight: 900;
}

.border{
    padding: 2px;
    background-color: grey;
}

.scramble{
    padding: 30px 0px;
    text-align: center;
    letter-spacing: 2vw;
    font-size: larger;
    text-transform: uppercase;
    font-family: 'Mukta', sans-serif;
    font-weight: 900;


}

.hint{
    padding: 10px 0px;
    font-family: 'Mukta', sans-serif;

}

.time{
    padding: 10px 0px;
    font-family: 'Mukta', sans-serif;


}

.enter{
    padding: 20px 0px;


}

input{
    width:95%;
    padding: 10px;
    border-radius: 5px;
    border-color: rgba(180, 178, 178,0.2);
    word-wrap: break-word;
}

.buttons{
    display: flex;
    align-items:center;
    justify-content: space-around;
    word-wrap: break-word;

    
}

.refresh:hover{
    background-color: rgb(130, 127, 126);
}

.check:hover{
    background-color: rgb(125, 125, 252);
}

.button{
    height: 5vh;
    width: 10vw;
    border-radius: 5px;
    border-color: rgba(255, 255,255,0.1);
    color: white;
    cursor: pointer;

}

.refresh{
    background-color: rgb(74, 70, 70);
}

.check{
    background-color: rgb(79, 79, 250);
}